{{range .Sections}}
{{.Title}}
--------------------------------------------------------------------------------
  {{ range $key, $value := .Items }}
     {{ $key }}: {{ $value }}
  {{ end }}
{{end}}


